<section id="search-friends">
	<form method="POST" id="search-friend-form">
		<fieldset>
			<label for="friend-input">Look for friends: 
				<input type="text" placeholder="friend name.." id="friend-name" name="friend-input" />
			</label>
			<button id="friend-submit">Search</button>
		</fieldset>
	</form>	<!-- Fin #search-friend-form -->

	<div id="friends-search-results">
		<h3>Try searching some friends</h3>
	</div>	<!-- Fin #friend-search-results -->

</section>	<!-- Fin #search-friends -->